@model  WebBibliotecaOnline2.Models.Pruebas.Prueba
@{
    ViewBag.Title = "DameObjetoPrueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DameObjetoPrueba</h2>
<h2>@Model.id</h2>
<h2>@Model.nombre</h2>

