@using WebBibliotecaOnline2.Models

@model  TipoBiblioteca
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm("Editar", "TipoBiblioteca", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<table cellpadding="0" cellspacing="0">
    @Html.Partial("_Formulario", Model)
    @Html.Partial("_BotonNuevoEditar", @Url.Action("Index", "TipoBiblioteca"))
</table>
}

