@using WebBibliotecaOnline2.Models

@model List<TipoBiblioteca>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>
                    Acciones
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Descripcion
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        <a href="@Url.Action("Eliminar","TipoBiblioteca",new { id= item.TipoBibliotecaId })">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        @item.TipoBibliotecaId
                    </td>

                    <td>
                        @item.Nombre
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

